
<div class="container">
  <h1>List of cocktails</h1>

  <div class="menu">
    <div class="box">
      <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="card-image">
        </div>
        <div class="card-info">
          <div class="card-name">
            <%= link_to cocktail.name, cocktail_path(cocktail), class:"card-name-text" %>
            <% cocktail.doses.each do |dose|%>
            <div class="card-description">
              <%= dose.description %>
              <%= dose.ingredient[:name] %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary btn-menu' %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




  </div>
</div>
