.button-add-cocktail {
  border: solid 1px rgb(70,70,70);
  color: rgb(240,240,240);
  font-size: 24px;
  background-color: rgba(215,10,85, 1);
  border-radius: 4px;
  position: absolute;
  bottom: 40px;
  left: 15%;
  &:hover {
    color: white;
    background-color: rgba(150,150,150,0.9);
    border: solid 1px rgba(50,50,50,0.9);
  }
  i {
    padding-left: 10px;
    padding-right: 20px;
  }
}

.button-modal {
  margin-top: 20px;
  height: 50px;
  border: solid 1px rgb(70,70,70);
  color: rgb(240,240,240);
  font-size: 16px;
  background-color: rgba(215,10,85, 0.9);
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  left: 5%;
  &:hover {
    color: white;
    background-color: rgba(150,150,150,0.9);
    border: solid 1px rgba(50,50,50,0.9);
  }
}
