<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "cocktail.png", height: 40 %>
    <h4>Find your favorite cocktails</h4>
  <% end %>

  <!-- Right Navigation -->

</div>
