<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "cocktail.png", height: 50 %>
    <h4>Find your favortie cocktails</h4>
  <% end %>

  <!-- Right Navigation -->

</div>
